 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	{% if page.title %}
		<title>{{ page.title }}</title>
	{% else %}
		<title>{{ site.title }}</title>
	{% endif %}

	<meta name="Description" content="{{ site.description }}" />

	<link rel="icon" href="/assets/favicon.ico" />
	<link href="https://fonts.googleapis.com/css?family=Abhaya+Libre:400,700|Inconsolata" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

	<!-- start: header navigation -->

	<!-- end: header navigation -->

	<!-- start: blog content -->
	<div class="body-wrapper">
		{{ content }}
	</div>
</body>
</html>
