---
layout: default
---

<div class="post-wrapper">
	<div class="post-links">
    <a href="{{ site.url }}" class="post-links-home">&lt;&lt; home</a>
		{% if page.pdf %}
		<a href="{{ page.pdf }}" class="post-link-item">PDF</a>
		{% endif %}
  </div>
	<div class="post-title">
   	<h1>{{ page.title }}</h1>
  </div>
  <div class="post-date">
   	<p>{{ page.date | date: '%B %-d, %Y' }}</p>
  </div>
  <!--div class="post-meta">
   	<p></p>
  </div-->
  <div class="post-content">
		{{ content }}
  </div>
</div>
